<a href="https://colab.research.google.com/github/PratikshaShelke24/pyhton-programming/blob/main/datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#numeric datatypes

In [7]:
a=10;
b=20;
c="pratiksha";
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print("sum",a+b)

10
<class 'int'>
20
<class 'int'>
pratiksha
<class 'str'>
sum 30

In [ ]:
#sequcence datatypes

In [9]:
list=[1,2,3,4,5,6,7]
print(list)
print(type(list))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [12]:
tuple=(1,2,3,4,5,6,7,8,9)
print(set)
print(type(set))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
#mapping datatypes

In [16]:
dict1={"name":"pratiksha","age":24}
print(dict1)
print(type(dict1))

{'name': 'pratiksha', 'age': 24}
<class 'dict'>

In [18]:
#set
set=(1,2,3,4,5)
print(set)
print(type(set))

(1, 2, 3, 4, 5)
<class 'tuple'>